<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>【管理页面】运营技术中心2018年会抽奖</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/buttons.css">
    <link rel="stylesheet" href="../static/manage.css">
</head>
<body>

<a href="javascript:void (0)" class="button button-primary button-rounded " id="add">增加</a>
<a href="javascript:void (0)" class="button button-caution button-rounded " id="reset">reset</a>
<ul id="awardList" class="list">
</ul>
<script type="text/javascript" src="../static/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../static/layer/layer.js"></script>
<script type="text/javascript" src="../static/js/manage.min.js"></script>
</body>
</html>